/*导航栏*/
.nav{
    width: 100%;
    height: 80px;
    background: #845DFD;
}
.nav img{
    margin-top: 20px;
    margin-left: 14%;
    float: left;
}
.nav ul{
    width: 60%;
    margin-left: 100px;
    float: left;
    margin-top: 11px;
}
.nav li{
    float:left;
    line-height: 58px;
}
.nav_fir{
    width: 80px;
    height: 58px;
    text-align: center;
    border-radius: 30px;
}
.nav_sec{
    width: 124px;
    height: 58px;
    text-align: center;
    margin-left: 15px;
    border-radius: 49px;
}
.nav a{
    font-size: 20px;
    color: #ffffff;
}
.nav li:hover{
    background: #00cdc5;
    color: #845DFD;
}
/*banner图*/
.banner{
    width: 100%;
    height: 520px;
}
.banner img{
    width: 100%;
    margin-top: -47px;
}
/*比赛详情*/
.mat_title h2{
    text-align: center;
    font-size: 35px;
    font-weight: normal;
    margin-top: 40px;
}
.mat_connect{
    width: 931px;
    margin-left: auto;
    margin-right: auto;
    height: 1000px;
}